# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build.Node

on:
  push:
    branches: [ "master", "feature**/**", "!feature-ci/**", "develop" ]
    # tags-ignore: [ 'v*.*.*' ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/Rsse.Client/ClientApp

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          # создаётся кэш в actions/caches
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: ./src/Rsse.Client/ClientApp/package-lock.json
      - run: npm ci
      - run: npm run build --if-present
      - run: npm run test:unit
